* {
    box-sizing: border-box;
}
body {
    background-color: white;
}
section {
    width : 1000px;
    margin : 120px 0 0 210px;
    border-left: 6px solid black;
    background-color: rgb(71, 208, 195);
    border-radius: 8px;
    box-shadow: 0 2px 2px black;

}
h1 {
    margin : 0 10px 0 10px
}
p {
    margin-left: 10px;
}
p , li{
    font-size: 22px;
}